<ul class="brand-list">
  {% if site.banner_links.lsp %}
    <li class="brand-item">
        <span>Research from</span>
        <a href="https://www.kcl.ac.uk/dentistry/research/centre-for-oral-clinical-translational-sciences" target="_blank">
          <img src="{{ '/assets/images/kcl.svg' | relative_url }}" alt="King's College London" style="width: auto; height: 50px;">
        </a>
    </li>
    <li class="brand-item">
        <span></span>
        <a href="https://www.surrey.ac.uk/" target="_blank">
          <img src="{{ '/assets/images/surrey.png' | relative_url }}" alt="University of Surrey" style="width: auto; height: 48px;">
        </a>
    </li>
  {% endif %}
  {% if site.banner_links.hits %}
    <li class="brand-item">
        <span>Funded by</span>
        <a href="https://fundingawards.nihr.ac.uk/award/NIHR204566" target="_blank">
          <img src="{{ '/assets/images/logo_hits.svg' | relative_url }}" alt="NIHR" style="width: auto; height: 45px;">
        </a>
    </li>
  {% endif %}
</ul>
